@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    color: black;
}

body{
    background-color: gainsboro;
}

#calc{
    background-color: gainsboro;
    border-radius: 14px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 15px black;
}

#historico{
    font-size: small;
}

#resultado{
    background-color: black;
    color: whitesmoke;
    height: 30px;
    text-align: right;
    padding: 4px;
}

#teclas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.botao{
    font-size: small;
    margin: 3px;
    background-color: whitesmoke;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    color: black;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(207, 203, 203);
}

#del{
    background-color: red;
    color: whitesmoke;
}

#del:hover{
    background-color: darkred;
}

#igual{
    background-color: green;
    color: whitesmoke;
}

#igual:hover{
    background-color: darkgreen;
}