@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    color: black;
}

body{
    background-color: gainsboro;
}

main{
    display: flex;
    flex-direction: line;
    justify-content: center;
    width: 616px;
    margin-left: auto;
    margin-right: auto;
}

#calc, #historico{
    background-color: gainsboro;
    border-radius: 14px;
    width: 300px;
    height: 333px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 5px 5px 15px black;
}

#historico p{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: large;
} 

#resultado{
    background-color: black;
    color: whitesmoke;
    height: 30px;
    text-align: right;
    padding: 4px;
}

#teclas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.botao{
    font-size: small;
    margin: 3px;
    background-color: whitesmoke;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    color: black;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(207, 203, 203);
}

#del{
    background-color: red;
    color: whitesmoke;
}

#del:hover{
    background-color: darkred;
}

#igual{
    background-color: green;
    color: whitesmoke;
}

#igual:hover{
    background-color: darkgreen;
}

#historico-conteudo{
    text-align: center;
    padding: 4px;
}

#historico-texto {
    height: 220px;
    padding: 4px;
    text-align: right;
  }

  #limpar-historico{
    margin: 2px
  }

footer{
    text-align: center;
    font-style: italic;
    color: black;
    font-size: small;
    margin-top: 8px;
    margin-bottom: 8px;
}

